Flask >= 1.1.2
Flask-WTF >= 0.14.3
python-dotenv >= 0.15.0
Flask-SQLAlchemy >= 2.4.4
Flask-Migrate >= 2.5.3
Flask-Login >= 0.5.0
email-validator >= 1.1.2
PyJWT >= 2.0.0
Flask-Mail >= 0.9.1
Flask-Bootstrap >= 3.3.7.1
Flask-Moment >= 0.11.0
Flask_Babel >= 2.0.0